<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Подтверждение регистрации</title>
</head>
<body>
    <h2>Подтверждение регистрации</h2>
    <p>Здравствуйте, {{ user.first_name|default:user.email }}!</p>
    <p>Для завершения регистрации перейдите по ссылке:</p>
    <p>
        <a href="http://{{ domain }}{% url 'users:email_verification' token=token %}">
            Подтвердить email
        </a>
    </p>
    <p>Если вы не регистрировались на нашем сайте, проигнорируйте это письмо.</p>
</body>
</html>